---
const { firma } = Astro.props;
---

<div class="card">
    <h2>{firma.nazwa}</h2>
    <p><em>{firma.tagline}</em></p>
    <small>NIP: {firma.NIP}</small>
</div>

<style>
    .card {
        border: 2px solid #333;
        padding: 20px;
        border-radius: 15px;
        background: #111;
        color: white;
    }
    h2 {
        color: #00d1b2;
        margin: 0;
    }
</style>
